*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
PM_Interview_Prep.md
 
FLOATING_BUBBLE_ARCHITECTURE.md  
 
# Android Artifacts
*.apk
*.ap_
*.aab

# IntelliJ / Android Studio
*.iml
.idea/
.gradle/

# Keystores
*.jks
*.keystore

# Mac OS
.DS_Store